flows/Data Center.json
[{"id":"cd04aea60af6b042","type":"tab","label":"Dashboard - esp1","disabled":false,"info":"","env":[]},{"id":"5e6d0fec17465945","type":"tab","label":"Dashboard - esp2","disabled":false,"info":"","env":[]},{"id":"f20c3c7b2afbec09","type":"tab","label":"InfluxDB","disabled":false,"info":"","env":[]},{"id":"91608885e4b46e31","type":"tab","label":"Alarms","disabled":false,"info":"","env":[]},{"id":"36a5f975aefd6956","type":"tab","label":"Actions","disabled":false,"info":"","env":[]},{"id":"10800625de5930f7","type":"group","z":"91608885e4b46e31","name":"Sensor Fault Alarm Group","style":{"label":true,"stroke":"#000000","fill":"#c8e7a7","label-position":"s","color":"#000000"},"nodes":["513e270368aee6c1","cf680e431564dae7","847492b7b6821caa","ce69480ccb793790"],"x":234,"y":419,"w":732,"h":150},{"id":"bd0bacd207a11bad","type":"group","z":"91608885e4b46e31","name":"Temperature Alarm Group","style":{"fill":"#ff7f7f","label":true,"stroke":"#000000","label-position":"s","color":"#000000"},"nodes":["6807e558ef0df644","7f89f81ee80d0965","8cbee9d2a5fd4f32","a1dabc36c5484bce","cb7d1d791b6595ff","a7b6fb4ea50930cc","b53a3db5e6f07654"],"x":214,"y":99,"w":1072,"h":190},{"id":"9285c0b9fecbef25","type":"group","z":"36a5f975aefd6956","name":"Water Pump Action Group","style":{"fill":"#7fb7df","label":true,"label-position":"n","stroke":"#000000","color":"#000000"},"nodes":["14f1e9c57654f2f1","e28379e6e2b0f8ea","70b57f44290864c4"],"x":54,"y":139,"w":922,"h":82},{"id":"3423f48b38c23954","type":"group","z":"cd04aea60af6b042","name":"","style":{"stroke":"#000000","label":true,"fill":"#ffffbf"},"nodes":["155101bae7251a8f","a2ed915059af9185","e8e4bbcc00d54080","a6f5b63ee3ab3549","068e8a722d87b8e7"],"x":334,"y":459,"w":732,"h":162},{"id":"13c90c0d37e6f70f","type":"group","z":"5e6d0fec17465945","name":"","style":{"stroke":"#000000","label":true,"fill":"#ffffbf"},"nodes":["34d4be82e5241a27","89a5244b868236c4","6351acf476c46863","baced00216c43f0d","92a5bc3d76f6d2b6"],"x":354,"y":419,"w":732,"h":162},{"id":"eb6415993586e6cd","type":"group","z":"91608885e4b46e31","name":"Water Alarm Group","style":{"stroke":"#000000","fill":"#0070c0","label":true,"label-position":"s","color":"#000000"},"nodes":["2f18cd0f6df2a736","646389229513c796","35cedbe78010ea98","85b7a6d532675f3e"],"x":274,"y":659,"w":712,"h":170},{"id":"b8dc64183d0fdce1","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"85a8705efdcdd536","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"072bdc169dc40432","type":"ui_tab","name":"esp1","icon":"device_hub","order":1,"disabled":false,"hidden":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3efea4ce2692fbe3","type":"ui_group","name":"DHT11","tab":"072bdc169dc40432","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"577764161a54daf9","type":"ui_group","name":"MQTT Messages","tab":"072bdc169dc40432","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"70e257ddd2bb284b","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ESP-A","name":"InfluxDB","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"3a10d47b60045053","type":"ui_group","name":"LED","tab":"072bdc169dc40432","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"239c62f10b7245f5","type":"twilio-api","name":"","sid":"ACf7487d08d81aa58659aef32eb6ea2f2f","from":"+16065175838"},{"id":"7053f7e9d0ae4192","type":"ui_group","name":"Buzzer","tab":"072bdc169dc40432","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a21a75207ea46ec9","type":"ui_group","name":"Water Pump","tab":"072bdc169dc40432","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5cc248baa0362d44","type":"ui_spacer","z":"36a5f975aefd6956","name":"spacer","group":"a21a75207ea46ec9","order":3,"width":1,"height":1},{"id":"518753afd87ff5eb","type":"ui_tab","name":"esp2","icon":"device_hub","order":2,"disabled":false,"hidden":false},{"id":"2e1a201a4d75452a","type":"ui_group","name":"LED","tab":"518753afd87ff5eb","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ac1b8839a6fe78d9","type":"ui_group","name":"Buzzer","tab":"518753afd87ff5eb","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b6cd79e4fba097b8","type":"ui_group","name":"DHT11","tab":"518753afd87ff5eb","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ba8a5077478f0207","type":"ui_group","name":"MQTT Messages","tab":"518753afd87ff5eb","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c17473d310fba095","type":"ui_chart","z":"cd04aea60af6b042","name":"Temperature","group":"3efea4ce2692fbe3","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1170,"y":200,"wires":[[]]},{"id":"bfa75b071b3b1054","type":"ui_gauge","z":"cd04aea60af6b042","name":"Humidity","group":"3efea4ce2692fbe3","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%RH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":280,"wires":[]},{"id":"94ae86a9743a9899","type":"mqtt in","z":"cd04aea60af6b042","name":"","topic":"hua/esp1/temp","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":940,"y":200,"wires":[["c17473d310fba095"]]},{"id":"c3aaf12ac75855db","type":"mqtt in","z":"cd04aea60af6b042","name":"","topic":"hua/esp1/hum","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":940,"y":280,"wires":[["bfa75b071b3b1054"]]},{"id":"be03e147aa19d0a7","type":"mqtt out","z":"cd04aea60af6b042","name":"","topic":"hua/esp1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8dc64183d0fdce1","x":540,"y":260,"wires":[]},{"id":"6516897526f03acb","type":"ui_switch","z":"cd04aea60af6b042","name":"","label":"Red LED","tooltip":"","group":"3a10d47b60045053","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"red on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"red off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":180,"y":120,"wires":[["be03e147aa19d0a7"]]},{"id":"df02b85b58967968","type":"ui_switch","z":"cd04aea60af6b042","name":"","label":"Green LED","tooltip":"","group":"3a10d47b60045053","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"green on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"green off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":180,"wires":[["be03e147aa19d0a7"]]},{"id":"54de2455730c9a1f","type":"ui_button","z":"cd04aea60af6b042","name":"","group":"7053f7e9d0ae4192","order":3,"width":0,"height":0,"passthru":false,"label":"Turn off Buzzer","tooltip":"","color":"","bgcolor":"","className":"","icon":"alarm_off","payload":"buzzer off","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":380,"wires":[["be03e147aa19d0a7"]]},{"id":"155101bae7251a8f","type":"ui_template","z":"cd04aea60af6b042","g":"3423f48b38c23954","group":"577764161a54daf9","name":"SVG based template","order":0,"width":"6","height":"6","format":"<style>\n\n    #tex1 {\n        font-weight:bolder;\n        font-size: 12;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"300\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"130\" > {{msg.payload[5]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"210\" > {{msg.payload[9]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"230\" > {{msg.payload[10]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"250\" > {{msg.payload[11]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"270\" > {{msg.payload[12]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":940,"y":580,"wires":[[]]},{"id":"a2ed915059af9185","type":"function","z":"cd04aea60af6b042","g":"3423f48b38c23954","name":"Create table in context","func":"let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":500,"wires":[[]]},{"id":"e8e4bbcc00d54080","type":"inject","z":"cd04aea60af6b042","g":"3423f48b38c23954","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"Start","payloadType":"str","x":430,"y":500,"wires":[["a2ed915059af9185"]]},{"id":"a6f5b63ee3ab3549","type":"function","z":"cd04aea60af6b042","g":"3423f48b38c23954","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >13) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":580,"wires":[["155101bae7251a8f"]]},{"id":"068e8a722d87b8e7","type":"mqtt in","z":"cd04aea60af6b042","g":"3423f48b38c23954","name":"","topic":"hua/esp1/#","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":580,"wires":[["a6f5b63ee3ab3549"]]},{"id":"0c02acb4036ee850","type":"ui_switch","z":"cd04aea60af6b042","name":"","label":"Orange LED","tooltip":"","group":"3a10d47b60045053","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"orange on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"orange off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":240,"wires":[["be03e147aa19d0a7"]]},{"id":"d614484973c4cf78","type":"ui_button","z":"cd04aea60af6b042","name":"","group":"7053f7e9d0ae4192","order":1,"width":0,"height":0,"passthru":false,"label":"Turn on Buzzer","tooltip":"","color":"","bgcolor":"","className":"","icon":"alarm_on","payload":"buzzer on","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":320,"wires":[["be03e147aa19d0a7"]]},{"id":"bb3fc6d42ed45482","type":"ui_chart","z":"5e6d0fec17465945","name":"Temperature","group":"b6cd79e4fba097b8","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1190,"y":160,"wires":[[]]},{"id":"4515498e9f704f88","type":"ui_gauge","z":"5e6d0fec17465945","name":"Humidity","group":"b6cd79e4fba097b8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%RH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1180,"y":240,"wires":[]},{"id":"403bc86d5de79811","type":"mqtt in","z":"5e6d0fec17465945","name":"","topic":"hua/esp2/temp","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":160,"wires":[["bb3fc6d42ed45482"]]},{"id":"05061a54338c7c92","type":"mqtt in","z":"5e6d0fec17465945","name":"","topic":"hua/esp2/hum","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":240,"wires":[["4515498e9f704f88"]]},{"id":"72c28f3a52407888","type":"mqtt out","z":"5e6d0fec17465945","name":"","topic":"hua/esp2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8dc64183d0fdce1","x":560,"y":220,"wires":[]},{"id":"c71a44030822f4ad","type":"ui_switch","z":"5e6d0fec17465945","name":"","label":"Red LED","tooltip":"","group":"2e1a201a4d75452a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"red on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"red off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":200,"y":80,"wires":[["72c28f3a52407888"]]},{"id":"a3b48a927fd8f2a8","type":"ui_button","z":"5e6d0fec17465945","name":"","group":"ac1b8839a6fe78d9","order":3,"width":0,"height":0,"passthru":false,"label":"Turn off Buzzer","tooltip":"","color":"","bgcolor":"","className":"","icon":"alarm_off","payload":"buzzer off","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":260,"wires":[["72c28f3a52407888"]]},{"id":"33492d3f9d0cde9f","type":"ui_button","z":"5e6d0fec17465945","name":"","group":"ac1b8839a6fe78d9","order":1,"width":0,"height":0,"passthru":false,"label":"Turn on Buzzer","tooltip":"","color":"","bgcolor":"","className":"","icon":"alarm_on","payload":"buzzer on","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":200,"wires":[["72c28f3a52407888"]]},{"id":"34d4be82e5241a27","type":"ui_template","z":"5e6d0fec17465945","g":"13c90c0d37e6f70f","group":"ba8a5077478f0207","name":"SVG based template","order":0,"width":"6","height":"6","format":"<style>\n\n    #tex1 {\n        font-weight:bolder;\n        font-size: 12;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"300\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"130\" > {{msg.payload[5]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"210\" > {{msg.payload[9]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"230\" > {{msg.payload[10]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"250\" > {{msg.payload[11]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"270\" > {{msg.payload[12]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":960,"y":540,"wires":[[]]},{"id":"89a5244b868236c4","type":"function","z":"5e6d0fec17465945","g":"13c90c0d37e6f70f","name":"Create table in context","func":"let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":460,"wires":[[]]},{"id":"6351acf476c46863","type":"inject","z":"5e6d0fec17465945","g":"13c90c0d37e6f70f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"Start","payloadType":"str","x":450,"y":460,"wires":[["89a5244b868236c4"]]},{"id":"baced00216c43f0d","type":"function","z":"5e6d0fec17465945","g":"13c90c0d37e6f70f","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >13) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":540,"wires":[["34d4be82e5241a27"]]},{"id":"92a5bc3d76f6d2b6","type":"mqtt in","z":"5e6d0fec17465945","g":"13c90c0d37e6f70f","name":"","topic":"hua/esp2/#","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":540,"wires":[["baced00216c43f0d"]]},{"id":"caef3f8b3a92c26e","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp1/temp","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":140,"wires":[["b3f604145c656933"]]},{"id":"03384ffa0a8e0239","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp1/hum","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":200,"wires":[["37a93479b7ee5eb1"]]},{"id":"a8412fec54cabece","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp1_temp","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":530,"y":140,"wires":[]},{"id":"b3f604145c656933","type":"function","z":"f20c3c7b2afbec09","name":"","func":"//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":140,"wires":[["a8412fec54cabece"]]},{"id":"37a93479b7ee5eb1","type":"function","z":"f20c3c7b2afbec09","name":"","func":"//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":200,"wires":[["324804162e95c998"]]},{"id":"324804162e95c998","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp1_hum","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":530,"y":200,"wires":[]},{"id":"2bcf22d2f5c02179","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp1/water","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":260,"wires":[["c257ada9c8a04c8b"]]},{"id":"c257ada9c8a04c8b","type":"function","z":"f20c3c7b2afbec09","name":"function","func":"var payload=msg.payload;\nif (payload==\"water\")\n    msg.payload=1\nelse msg.payload=0     \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["b2626a37f9be38d4"]]},{"id":"b2626a37f9be38d4","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp1_water","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":530,"y":260,"wires":[]},{"id":"a668e3bd19f5ac21","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp1/motion","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":320,"wires":[["13e7c0831a1b3742"]]},{"id":"13e7c0831a1b3742","type":"function","z":"f20c3c7b2afbec09","name":"function","func":"var payload=msg.payload;\nif (payload==\"motion\")\n    msg.payload=1\nelse msg.payload=0     \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["49c10f2f39e101f9"]]},{"id":"49c10f2f39e101f9","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp1_motion","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":530,"y":320,"wires":[]},{"id":"87aa9683a2484948","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp1/door","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":380,"wires":[["22b89047a84a00cc"]]},{"id":"22b89047a84a00cc","type":"function","z":"f20c3c7b2afbec09","name":"function","func":"var payload=msg.payload;\nif (payload==\"door on\")\n    msg.payload=1\nelse msg.payload=0     \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":380,"wires":[["32ba8d7af38e8f22"]]},{"id":"32ba8d7af38e8f22","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp1_door","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":530,"y":380,"wires":[]},{"id":"0acb190aecf88f68","type":"comment","z":"f20c3c7b2afbec09","name":"Send data to influxdb","info":"","x":660,"y":60,"wires":[]},{"id":"d8e79c881927208c","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp2/temp","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":140,"wires":[["bc129f195a97ef17"]]},{"id":"0ea5f126703690a1","type":"mqtt in","z":"f20c3c7b2afbec09","name":"","topic":"hua/esp2/hum","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":200,"wires":[["5a291803f35861bc"]]},{"id":"39b8f28b5aec436d","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp2_temp","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":1190,"y":140,"wires":[]},{"id":"bc129f195a97ef17","type":"function","z":"f20c3c7b2afbec09","name":"","func":"//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":140,"wires":[["39b8f28b5aec436d"]]},{"id":"5a291803f35861bc","type":"function","z":"f20c3c7b2afbec09","name":"","func":"//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":200,"wires":[["3b81c6a4fe25c45c"]]},{"id":"3b81c6a4fe25c45c","type":"influxdb out","z":"f20c3c7b2afbec09","influxdb":"70e257ddd2bb284b","name":"","measurement":"esp2_hum","precision":"","retentionPolicy":"","database":"hua_db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"4Weeks","org":"organisation","bucket":"bucket","x":1190,"y":200,"wires":[]},{"id":"d9a1b531ba614be7","type":"comment","z":"91608885e4b46e31","name":"If high temperature detected (over 26) set an alarm","info":"","x":630,"y":60,"wires":[]},{"id":"667e8800367f7a1e","type":"mqtt in","z":"91608885e4b46e31","name":"","topic":"hua/+/temp","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":220,"wires":[["b53a3db5e6f07654"]]},{"id":"3910d7f1792f409b","type":"mqtt in","z":"91608885e4b46e31","name":"","topic":"hua/+/hum","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":500,"wires":[["513e270368aee6c1"]]},{"id":"cb7d1d791b6595ff","type":"switch","z":"91608885e4b46e31","g":"bd0bacd207a11bad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"26","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":220,"wires":[["a7b6fb4ea50930cc"]]},{"id":"a7b6fb4ea50930cc","type":"change","z":"91608885e4b46e31","g":"bd0bacd207a11bad","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"buzzer on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["7f89f81ee80d0965","6807e558ef0df644","2d1c4a0c6606166b"]]},{"id":"b53a3db5e6f07654","type":"function","z":"91608885e4b46e31","g":"bd0bacd207a11bad","name":"","func":"//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["cb7d1d791b6595ff"]]},{"id":"2d1c4a0c6606166b","type":"mqtt out","z":"91608885e4b46e31","name":"","topic":"hua/noc","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8dc64183d0fdce1","x":1300,"y":460,"wires":[]},{"id":"513e270368aee6c1","type":"trigger","z":"91608885e4b46e31","g":"10800625de5930f7","name":"Watchdog","op1":"","op2":"buzzer on","op1type":"pay","op2type":"str","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":520,"wires":[["ce69480ccb793790"]]},{"id":"2793385e0578fb49","type":"comment","z":"91608885e4b46e31","name":"If DHT11 sensors stops sending data for over 5 min set an alarm","info":"","x":590,"y":380,"wires":[]},{"id":"8cbee9d2a5fd4f32","type":"e-mail","z":"91608885e4b46e31","g":"bd0bacd207a11bad","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"theodiplas@gmail.com","dname":"theodiplas@gmail.com","x":1160,"y":140,"wires":[]},{"id":"7f89f81ee80d0965","type":"function","z":"91608885e4b46e31","g":"bd0bacd207a11bad","name":"","func":"var date =new Date();\nvar message=\"\";\n\nmsg.topic=\"High Temperature Alarm\"; \nmessage=\" High Temperature Alarm in Data Center \"; \n\nmsg.payload=date+\"\\n\"+message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":140,"wires":[["8cbee9d2a5fd4f32"]]},{"id":"a1dabc36c5484bce","type":"twilio out","z":"91608885e4b46e31","g":"bd0bacd207a11bad","twilio":"239c62f10b7245f5","twilioType":"sms","url":"","number":"+306983525704","name":"","x":1130,"y":240,"wires":[]},{"id":"cf680e431564dae7","type":"function","z":"91608885e4b46e31","g":"10800625de5930f7","name":"","func":"var date =new Date();\nvar message=\"\";\n\nmsg.topic=\"DHT11 Sensor Error!!!\"; \nmessage=\" DHT11 Sensor Error in Data Center \"; \n\nmsg.payload=date+\"\\n\"+message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["847492b7b6821caa"]]},{"id":"f6976ab5db329f6f","type":"mqtt in","z":"91608885e4b46e31","name":"","topic":"hua/+/water","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":760,"wires":[["646389229513c796"]]},{"id":"2f18cd0f6df2a736","type":"ui_audio","z":"91608885e4b46e31","g":"eb6415993586e6cd","name":"","group":"3a10d47b60045053","voice":"Alex","always":"","x":880,"y":780,"wires":[]},{"id":"646389229513c796","type":"switch","z":"91608885e4b46e31","g":"eb6415993586e6cd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"water","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":740,"wires":[["35cedbe78010ea98"]]},{"id":"35cedbe78010ea98","type":"change","z":"91608885e4b46e31","g":"eb6415993586e6cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Water Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":740,"wires":[["2f18cd0f6df2a736","85b7a6d532675f3e"]]},{"id":"2ce002d46f1a3a7d","type":"inject","z":"91608885e4b46e31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"27","payloadType":"str","x":90,"y":120,"wires":[["b53a3db5e6f07654"]]},{"id":"6807e558ef0df644","type":"function","z":"91608885e4b46e31","g":"bd0bacd207a11bad","name":"","func":"var date =new Date();\nvar message=\"\";\n\nmessage=\"High Temperature Alarm!!! \"; \n\nmsg.payload=date+\"\\n\"+message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":240,"wires":[["a1dabc36c5484bce"]]},{"id":"847492b7b6821caa","type":"e-mail","z":"91608885e4b46e31","g":"10800625de5930f7","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"theodiplas@gmail.com","dname":"theodiplas@gmail.com","x":840,"y":520,"wires":[]},{"id":"6c792ccb9b66d3fd","type":"inject","z":"91608885e4b46e31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"buzzer on","payloadType":"str","x":100,"y":400,"wires":[["ce69480ccb793790"]]},{"id":"ce69480ccb793790","type":"switch","z":"91608885e4b46e31","g":"10800625de5930f7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"buzzer on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":460,"wires":[["cf680e431564dae7","2d1c4a0c6606166b"]]},{"id":"6dd4545772a62129","type":"comment","z":"91608885e4b46e31","name":"If rain drop sensors detects water set an alarm","info":"","x":590,"y":620,"wires":[]},{"id":"85b7a6d532675f3e","type":"change","z":"91608885e4b46e31","g":"eb6415993586e6cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"green off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":700,"wires":[["729fded5a7e7c41d"]]},{"id":"729fded5a7e7c41d","type":"mqtt out","z":"91608885e4b46e31","name":"","topic":"hua/esp1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8dc64183d0fdce1","x":1300,"y":640,"wires":[]},{"id":"a71bca2d60013351","type":"inject","z":"91608885e4b46e31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"water","payloadType":"str","x":90,"y":660,"wires":[["646389229513c796"]]},{"id":"14f1e9c57654f2f1","type":"mqtt in","z":"36a5f975aefd6956","g":"9285c0b9fecbef25","name":"","topic":"hua/+/water","qos":"2","datatype":"auto","broker":"b8dc64183d0fdce1","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":180,"wires":[["e28379e6e2b0f8ea"]]},{"id":"e28379e6e2b0f8ea","type":"trigger","z":"36a5f975aefd6956","g":"9285c0b9fecbef25","name":"Watchdog","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"9","extend":false,"overrideDelay":false,"units":"s","reset":"no water","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":180,"wires":[["70b57f44290864c4"]]},{"id":"70b57f44290864c4","type":"mqtt out","z":"36a5f975aefd6956","g":"9285c0b9fecbef25","name":"","topic":"Sonoff-1/gpio/12","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8dc64183d0fdce1","x":860,"y":180,"wires":[]},{"id":"151dd9563bdd422f","type":"comment","z":"36a5f975aefd6956","name":"If rain drop sensor detects water for over 9 sec it turns on the water pump","info":"","x":540,"y":60,"wires":[]},{"id":"a50661ee4b41ce75","type":"ui_switch","z":"36a5f975aefd6956","name":"","label":"Disable Action --> Water Pump","tooltip":"","group":"a21a75207ea46ec9","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"no water","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":170,"y":300,"wires":[["650b0c5daf0910d4"]]},{"id":"650b0c5daf0910d4","type":"trigger","z":"36a5f975aefd6956","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":300,"wires":[["e28379e6e2b0f8ea"]]},{"id":"2ae5584ee6c8ac94","type":"ui_button","z":"36a5f975aefd6956","name":"","group":"a21a75207ea46ec9","order":1,"width":0,"height":0,"passthru":false,"label":"Turn on Water Pump","tooltip":"","color":"","bgcolor":"","className":"","icon":"alarm_on","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":440,"y":380,"wires":[["70b57f44290864c4"]]},{"id":"4fd7ee7f39023ee9","type":"ui_button","z":"36a5f975aefd6956","name":"","group":"a21a75207ea46ec9","order":2,"width":0,"height":0,"passthru":false,"label":"Turn off Water Pump","tooltip":"","color":"","bgcolor":"","className":"","icon":"alarm_off","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":440,"y":440,"wires":[["70b57f44290864c4"]]},{"id":"09cc89c8472ce39f","type":"inject","z":"36a5f975aefd6956","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"water","payloadType":"str","x":130,"y":100,"wires":[["e28379e6e2b0f8ea"]]}]