docker/nodered/data/flows.json
[
    {
        "id": "80468b0589266b89",
        "type": "tab",
        "label": "LAB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c379855bf48d64b7",
        "type": "tab",
        "label": "MQTT DHT11 LED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "285dbe8df9549b0f",
        "type": "tab",
        "label": "Scrolling text ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7507171e1702420",
        "type": "tab",
        "label": "Alarms",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0ada5a3f9c59c02",
        "type": "tab",
        "label": "InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5311f415c138d70d",
        "type": "group",
        "z": "e7507171e1702420",
        "name": "Set an alarm group",
        "style": {
            "fill": "#ff0000",
            "label": true,
            "stroke": "#000000",
            "label-position": "s",
            "color": "#000000"
        },
        "nodes": [
            "26a0fd043e0f9cb0",
            "effed109983e359e",
            "57ec20a36063482a"
        ],
        "x": 254,
        "y": 179,
        "w": 552,
        "h": 90
    },
    {
        "id": "5f0f05e43aadbb3b",
        "type": "group",
        "z": "e7507171e1702420",
        "name": "Alarm off after 2 seconds group",
        "style": {
            "fill": "#92d04f",
            "label": true,
            "stroke": "#ff0000",
            "color": "#000000",
            "label-position": "s"
        },
        "nodes": [
            "7d24e8a4efceabe8",
            "d8614a06f0ab7ebf"
        ],
        "x": 874,
        "y": 99,
        "w": 412,
        "h": 90
    },
    {
        "id": "b8dc64183d0fdce1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85a8705efdcdd536",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "072bdc169dc40432",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "3efea4ce2692fbe3",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "072bdc169dc40432",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "577764161a54daf9",
        "type": "ui_group",
        "name": "MQTT Messages",
        "tab": "072bdc169dc40432",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70e257ddd2bb284b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "ESP-A",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.8-flux",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "3a10d47b60045053",
        "type": "ui_group",
        "name": "LED",
        "tab": "072bdc169dc40432",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "661878d27d0e1649",
        "type": "influxdb out",
        "z": "80468b0589266b89",
        "influxdb": "70e257ddd2bb284b",
        "name": "hua_db",
        "measurement": "random",
        "precision": "",
        "retentionPolicy": "",
        "database": "hua_db",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "4Weeks",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "dd5e70279e2e00c5",
        "type": "inject",
        "z": "80468b0589266b89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "9337973ae63702cf"
            ]
        ]
    },
    {
        "id": "9337973ae63702cf",
        "type": "random",
        "z": "80468b0589266b89",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "661878d27d0e1649"
            ]
        ]
    },
    {
        "id": "81fe885dab580f12",
        "type": "ui_chart",
        "z": "c379855bf48d64b7",
        "name": "Temperature",
        "group": "3efea4ce2692fbe3",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9082de109f6b2ceb",
        "type": "ui_gauge",
        "z": "c379855bf48d64b7",
        "name": "Humidity",
        "group": "3efea4ce2692fbe3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "8892f81a55ab9b8d",
        "type": "mqtt in",
        "z": "c379855bf48d64b7",
        "name": "",
        "topic": "home/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "81fe885dab580f12",
                "eaf6791743a734a9"
            ]
        ]
    },
    {
        "id": "a96bd8c9dd475c68",
        "type": "mqtt in",
        "z": "c379855bf48d64b7",
        "name": "",
        "topic": "home/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 280,
        "wires": [
            [
                "9082de109f6b2ceb",
                "fd4e637f0605d249"
            ]
        ]
    },
    {
        "id": "fd4e637f0605d249",
        "type": "debug",
        "z": "c379855bf48d64b7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "eaf6791743a734a9",
        "type": "debug",
        "z": "c379855bf48d64b7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca3508d8cae2c205",
        "type": "mqtt out",
        "z": "c379855bf48d64b7",
        "name": "",
        "topic": "home/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8dc64183d0fdce1",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "da2ddf7cb7e80c04",
        "type": "ui_switch",
        "z": "c379855bf48d64b7",
        "name": "",
        "label": "Red LED",
        "tooltip": "",
        "group": "3a10d47b60045053",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "red on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "red off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "ca3508d8cae2c205"
            ]
        ]
    },
    {
        "id": "12c5f7994a8ca572",
        "type": "ui_switch",
        "z": "c379855bf48d64b7",
        "name": "",
        "label": "Green LED",
        "tooltip": "",
        "group": "3a10d47b60045053",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "green on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "green off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ca3508d8cae2c205"
            ]
        ]
    },
    {
        "id": "a22c9d2acb723f56",
        "type": "ui_switch",
        "z": "c379855bf48d64b7",
        "name": "",
        "label": "ESP LED",
        "tooltip": "",
        "group": "3a10d47b60045053",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "esp on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "esp off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "ca3508d8cae2c205"
            ]
        ]
    },
    {
        "id": "6c445f78884a7ef4",
        "type": "ui_template",
        "z": "285dbe8df9549b0f",
        "group": "577764161a54daf9",
        "name": "SVG based template",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<style>\n\n    #tex1 {\n        font-weight:bolder;\n        font-size: 12;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"300\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"130\" > {{msg.payload[5]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"210\" > {{msg.payload[9]}} </text>\n</svg>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6b488492b1e4fd5a",
        "type": "function",
        "z": "285dbe8df9549b0f",
        "name": "Create table in context",
        "func": "let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "379239299d0dea03",
        "type": "inject",
        "z": "285dbe8df9549b0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "Start",
        "payloadType": "str",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "6b488492b1e4fd5a"
            ]
        ]
    },
    {
        "id": "1b47063d0f677e75",
        "type": "function",
        "z": "285dbe8df9549b0f",
        "name": "Add word to scrolling table",
        "func": "let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >9) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "6c445f78884a7ef4"
            ]
        ]
    },
    {
        "id": "f63a52370c27470d",
        "type": "mqtt in",
        "z": "285dbe8df9549b0f",
        "name": "",
        "topic": "home/#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "1b47063d0f677e75"
            ]
        ]
    },
    {
        "id": "e65cf96a568fa17a",
        "type": "comment",
        "z": "e7507171e1702420",
        "name": "If temperature > 26 set an alarm for 2 sec",
        "info": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "8a0e270602e60ab9",
        "type": "mqtt in",
        "z": "e7507171e1702420",
        "name": "",
        "topic": "home/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "57ec20a36063482a"
            ]
        ]
    },
    {
        "id": "564ed850542ad15c",
        "type": "mqtt in",
        "z": "e7507171e1702420",
        "name": "",
        "topic": "home/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "643345400c77bd94"
            ]
        ]
    },
    {
        "id": "26a0fd043e0f9cb0",
        "type": "switch",
        "z": "e7507171e1702420",
        "g": "5311f415c138d70d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "26",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "effed109983e359e"
            ]
        ]
    },
    {
        "id": "effed109983e359e",
        "type": "change",
        "z": "e7507171e1702420",
        "g": "5311f415c138d70d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "red on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "6de18f63d0a4ce4d",
                "7d24e8a4efceabe8"
            ]
        ]
    },
    {
        "id": "57ec20a36063482a",
        "type": "function",
        "z": "e7507171e1702420",
        "g": "5311f415c138d70d",
        "name": "",
        "func": "//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "26a0fd043e0f9cb0"
            ]
        ]
    },
    {
        "id": "6de18f63d0a4ce4d",
        "type": "mqtt out",
        "z": "e7507171e1702420",
        "name": "",
        "topic": "home/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8dc64183d0fdce1",
        "x": 1260,
        "y": 400,
        "wires": []
    },
    {
        "id": "643345400c77bd94",
        "type": "trigger",
        "z": "e7507171e1702420",
        "name": "",
        "op1": "",
        "op2": "green on",
        "op1type": "pay",
        "op2type": "str",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "6de18f63d0a4ce4d"
            ]
        ]
    },
    {
        "id": "7d24e8a4efceabe8",
        "type": "delay",
        "z": "e7507171e1702420",
        "g": "5f0f05e43aadbb3b",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 140,
        "wires": [
            [
                "d8614a06f0ab7ebf"
            ]
        ]
    },
    {
        "id": "d8614a06f0ab7ebf",
        "type": "change",
        "z": "e7507171e1702420",
        "g": "5f0f05e43aadbb3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "red off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "6de18f63d0a4ce4d"
            ]
        ]
    },
    {
        "id": "a661fd595413dcbe",
        "type": "comment",
        "z": "e7507171e1702420",
        "name": "Turn on green led if humidity delays over 2 min",
        "info": "",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "fe01bcc426b5050d",
        "type": "mqtt in",
        "z": "c0ada5a3f9c59c02",
        "name": "",
        "topic": "home/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "621fb87f8735e6da"
            ]
        ]
    },
    {
        "id": "a0e38ceef4bdb810",
        "type": "mqtt in",
        "z": "c0ada5a3f9c59c02",
        "name": "",
        "topic": "home/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "b8dc64183d0fdce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "d45b6cc242d252aa"
            ]
        ]
    },
    {
        "id": "847021c0f8fd8873",
        "type": "debug",
        "z": "c0ada5a3f9c59c02",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "3efcc6bf91260b65",
        "type": "debug",
        "z": "c0ada5a3f9c59c02",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "a038a3151d0357e9",
        "type": "influxdb out",
        "z": "c0ada5a3f9c59c02",
        "influxdb": "70e257ddd2bb284b",
        "name": "",
        "measurement": "Rack1_Temp",
        "precision": "",
        "retentionPolicy": "",
        "database": "hua_db",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "4Weeks",
        "org": "organisation",
        "bucket": "bucket",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "621fb87f8735e6da",
        "type": "function",
        "z": "c0ada5a3f9c59c02",
        "name": "",
        "func": "//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "a038a3151d0357e9",
                "3efcc6bf91260b65"
            ]
        ]
    },
    {
        "id": "d45b6cc242d252aa",
        "type": "function",
        "z": "c0ada5a3f9c59c02",
        "name": "",
        "func": "//convert string to number\nmsg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "c480f8ca9e958c18",
                "847021c0f8fd8873"
            ]
        ]
    },
    {
        "id": "c480f8ca9e958c18",
        "type": "influxdb out",
        "z": "c0ada5a3f9c59c02",
        "influxdb": "70e257ddd2bb284b",
        "name": "",
        "measurement": "Rack1_Hum",
        "precision": "",
        "retentionPolicy": "",
        "database": "hua_db",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "4Weeks",
        "org": "organisation",
        "bucket": "bucket",
        "x": 890,
        "y": 340,
        "wires": []
    }
]